<!-- templates/users.html -->
<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Danh sách người dùng</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <h1>Danh sách người dùng</h1>
    <table>
        <tr>
            <th>Họ và Tên</th>
            <th>Số điện thoại</th>
            <th>Email</th>
            <th>Giới tính</th>
        </tr>
        <!-- Dữ liệu sẽ được lấy từ server -->
    </table>
</body>
</html>
